src/main/java/blog/utils/AccessControlPolicy/AccessControlPolicy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccessControlPolicy" type="AccessControlPolicyType"/>
  <xs:complexType name="OwnerType">
    <xs:sequence>
      <xs:element type="xs:string" name="ID"/>
      <xs:element type="xs:string" name="DisplayName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccessControlListType">
    <xs:sequence>
      <xs:element type="xs:string" name="Grant"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccessControlPolicyType">
    <xs:sequence>
      <xs:element type="OwnerType" name="Owner"/>
      <xs:element type="AccessControlListType" name="AccessControlList"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>